{% extends 'base.html' %}

{% block head %}
    <title>Reset Password</title>
    <style>
        #nav1{
            width: 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" id="nav1">
<center><h2>Reset Password</h2></center>
        <br>
    <div class="row justify-content-center col-6">
        {% load crispy_forms_tags %}
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <center><button class="btn btn-outline-primary" style="margin-top: 25px">Reset</button></center>
                </form>
        </div>
    </div>
</div>

{% endblock %}