{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
    <style>
        #nav1{
            width: 40%;
            margin-top: 2%;
        }
        #nav1 td{
            padding: 40px;
        }
        #nav1 td a:hover{
            transform: scale(1.5,1.5);
        }
    </style>
{% endblock %}

{% block body %}
<br><br><br>
{% if user.is_authenticated %}
<div class="container" id="nav1">

<table class="table table-hover">
    <thead class="table-dark">
    </thead>
 <tbody>
        <tr>
            <td><b>First Name</b></td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><b>Password</b></td>
            <td><a href="{% url 'password_change' %}" class="btn btn-warning">Edit</a></td>
        </tr>
    </tbody>

</table>

</div>
    {% else %}
    <a href="{% url 'login' %}">Please login first...</a>
{% endif %}
{% endblock %}